{% extends 'base.html' %}

{% block title %} 
    Add Pet
{% endblock %}

{% block content %}

<h1>Add Pet</h1>
<a href="/" class="btn btn-primary btn-lg">Back to Pets</a>

<div class="container">
  <form id="snack-add-form" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <div class="form-group">
        {{ field.label }}
        {{ field(class_="form-control") }}
  
        {% for error in field.errors %}
        <small class="form-text text-danger">{{ error }}</small>
        {% endfor %}
      </div>
  
    {% endfor %}
  
    <button type="submit">Save</button>
  </form>
</div>

{% endblock %}